.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-header {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.ticket {
  width: 300px;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ticket-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.ticket-description {
  margin-bottom: 8px;
}

.ticket-priority {
  color: #fff;
  background-color: #f44336;
  padding: 8px;
  border-radius: 4px;
}
.ticket-groups{
  display:flex;
  gap: 20px;
}
